<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=seans;AccountKey=wUdNjAMY25mnH4h/aw+VuwkFbflp6Q+Nv7WzsbCU5+Stfyi69j0vUW+sxC+LIjBvmVBnysD+MtoOF15tnC5low==;EndpointSuffix=core.windows.net" />

    <!--
    <add key="StorageConnectionString" value="AccountEndpoint=https://seans.documents.azure.com:443/;AccountKey=VGFkMCXzkxrb6vQ47NGS9oakex7dv4M1lPPtBFSuhbSMv7puBmDnDMQ0EwQY5B0Fh65FAeCmXPr7lMDSj4dZIQ==;" />
    -->
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>